.service-page .project {
    margin-top: 40px;
}

.service-page .project-content {
    display: flex;
    gap: 20px;
}



.service-page .project-content img{
    border-radius: 10px;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
}

.service-page .project-content .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}