.footer {
    padding: 1em calc(5vw + 10px);
    margin-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
}

.footer .row {
    display: flex;
    gap: 2em;
}

.footer__brand {
    width: 50%;
    font-weight: 700;
    color: #e5e7eb;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-right: 10px;
}

.footer__legal {
    margin: auto;
    font-size: 0.9rem;
    color: #a5a5a5;
}

.footer__brand img {
    width: 150px;
}

.footer__links,
.footer__social {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.footer__social {
    flex-direction: column;
}

.footer__social a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.footer__social a img {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color: #FDD200;
    font-size: 1.2rem;
    flex-shrink: 0;
}

.footer__links {
    flex-direction: column;
    text-decoration: underline;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__contact a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__contact img {
    background-color: #fdd200;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 5px;

}

@media (max-width: 1000px) {
    .footer .row {
        flex-wrap: wrap;
    }

    .footer .footer__brand {
        width: 100%;
    }

    .footer__links {
        order: 5;
    }
}

@media (max-width: 600px) {
    .footer .row {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer .footer__brand {
        width: 100%;
    }

    .footer__links {
        order: 5;
    }
}